.config-box {
  background: #00000010;
  box-shadow: 0 0 1px #808080;
  padding: 0.5em 0 0.5em 0.5em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  clear: both;
}

.config-box:hover {
  box-shadow: 0 0 2px #808080;
}

.config-box::after {
  clear: both;
  display:block;
  content: '';
}

.config-controls {
  background: #00000010;
  padding: 0.2em;
  float: right;
  text-align: right;
}

.config-controls button,
.config-box button {
  font-size: 80%;
}

.config-native-value {
  padding: 0.5em;
}

.config-box input[type=text],
.config-box input[type=number],
.config-box select {
  width: 100%;
  box-sizing: border-box;
}

.config-type-name,
.config-property-name {
  font-weight: bold;
}

.config-property-type {
  font-weight: normal;
  font-size: 80%;
}
