<mat-accordion [multi]="true">
  <ng-container *ngFor="let item of value; let i = index">
    <app-config-object [types]="types" [targetType]="targetType" [value]="item"></app-config-object>
    <mat-action-row>
      <button mat-button color="primary" (click)="clickedSetItem(i)">Set</button>
      <button mat-button color="warn" (click)="clickedRemoveItem(i)">Remove</button>
    </mat-action-row>
  </ng-container>
</mat-accordion>

<mat-action-row>
  <button mat-button color="primary" (click)="clickedAddItem()">Add</button>
</mat-action-row>
