<!-- Null -->
<ng-container *ngIf="!valueType">
  <mat-card-header>
    <mat-card-title>-/-</mat-card-title>
  </mat-card-header>
</ng-container>

<ng-container *ngIf="valueType">
  <!-- Value type -->
  <ng-container *ngIf="valueType.isNative || valueType.isEnum">
      <!-- Native -->
      <mat-form-field *ngIf="valueType.isNative">
        <input matInput [ngModel]="value" [type]="getNativeInputType()" [formControl]="formControl" />
      </mat-form-field>

      <!-- Enum -->
      <mat-form-field *ngIf="valueType.isEnum">
        <mat-select [ngModel]="value" [formControl]="formControl">
          <mat-option *ngFor="let option of valueType.values" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
  </ng-container>

  <!-- Object / List -->
  <mat-expansion-panel *ngIf="!valueType.isNative && !valueType.isEnum">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ valueType.expressionName ?? valueType.typeName }}</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- List -->
    <ng-container *ngIf="valueType.isList">
      <app-config-list [types]="types" [value]="value"></app-config-list>
    </ng-container>

    <!-- Properties -->
    <mat-accordion *ngIf="valueType.properties" [multi]="true">
      <mat-expansion-panel *ngFor="let property of valueType.properties">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ property.name }}</mat-panel-title>
          <mat-panel-description>{{ property.typeName }}<span *ngIf="property.isArray">[]</span></mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Array -->
        <ng-container *ngIf="property.isArray">
          <app-config-list [types]="types" [targetType]="getPropertyTargetType(property)"
                         [value]="getPropertyValue(property)"></app-config-list>
        </ng-container>

        <!-- Single value -->
        <ng-container *ngIf="!property.isArray">
          <!--<div class="config-controls">
            <button (click)="clickedSetItem(property)">Set</button>
          </div>-->

          <app-config-object [types]="types" [targetType]="getPropertyTargetType(property)" [value]="getPropertyValue(property)" ></app-config-object>
        </ng-container>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</ng-container>
