<!-- Null -->
<div class="config-box" *ngIf="!valueType">
  <div class="config-type-name">-/-</div>
</div>

<ng-container *ngIf="valueType">
  <!-- Value type -->
  <div class="config-box config-native-value" *ngIf="valueType.isNative || valueType.isEnum">
    <!-- Native -->
    <ng-container *ngIf="valueType.isNative">
      <input [ngModel]="value" [type]="getNativeInputType()" />
    </ng-container>

    <!-- Enum -->
    <ng-container *ngIf="valueType.isEnum">
      <select [ngModel]="value">
        <option *ngFor="let option of valueType.values" [value]="option">{{ option }}</option>
      </select>
    </ng-container>
  </div>

  <!-- Object / List -->
  <div class="config-box" *ngIf="!valueType.isNative && !valueType.isEnum">
    <div class="config-type-name" (click)="collapsed = !collapsed">
      {{ valueType.expressionName ?? valueType.typeName }}
    </div>

    <ng-container *ngIf="!collapsed">

      <!-- List -->
      <ng-container *ngIf="valueType.isList">
        <app-config-list [types]="types" [value]="value"></app-config-list>
      </ng-container>

      <!-- Properties -->
      <ng-container *ngIf="valueType.properties">
        <ng-container *ngFor="let property of valueType.properties">
          <div class="config-property-name">
            {{ property.name }}:
            <span class="config-property-type">({{ property.typeName }})</span>
          </div>

          <!-- Array -->
          <ng-container *ngIf="property.isArray">
            <app-config-list [types]="types" [targetType]="getPropertyTargetType(property)"
                           [value]="getPropertyValue(property)"></app-config-list>
          </ng-container>

          <!-- Single value -->
          <ng-container *ngIf="!property.isArray">
            <div class="config-controls">
              <button>Set</button>
            </div>

            <app-config-object [types]="types" [targetType]="getPropertyTargetType(property)" [value]="getPropertyValue(property)" ></app-config-object>
          </ng-container>


        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
